$primary: #FFC34C !default;
$primary-invert: invert($primary) !default;

$shadow: #bbb !default;
$shadow-size: 0.2rem !default;
$shadow-blur: 0.4rem !default;

$sidebar-background: #FFEAC0 !default;
$sidebar-menu-active-background: $primary !default;

$documenter-max-width: 50rem !default;
$footer-padding: 1.5rem !default;

$sidebar-width: 20rem !default;
$sidebar-title-width: 0.9 * $sidebar-width !default;
$sidebar-menu-padding: 1rem !default;

$lightness-unit: 8% !default;
@function darken-color($color, $factor) {
  @return adjust-color($color, $lightness: -$factor*$lightness-unit);
}
@function lighten-color($color, $factor) {
  @return adjust-color($color, $lightness: $factor*$lightness-unit);
}

// @import url("https://fonts.googleapis.com/css?family=Lato|Roboto+Mono");
// $family-sans-serif: 'Lato', 'Helvetica Neue', Arial, sans-serif !default;
// $family-monospace: 'Roboto Mono', Monaco, courier, monospace !default;
